@import url("https://fonts.googleapis.com/css?family=RobotoMono");

body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #fff;
  font-family: "Roboto Mono", monospace;
  color: #000;
  background-color: #f5f5f5;
}

header {
  font-size: 56px;
  font-weight: 800;
  padding-top: 20px;
  color: #5325fc;
  margin-bottom: 24px;
}

hr {
  border: 1px solid #000000;
  margin-bottom: 40px;
}

.formcontainer {
  background-color: #000000;
  padding: 24px;
  width: 520px;

  margin: 0 auto;
}

.button {
  margin-left: 10px;
}

.container {
  margin-top: 40px;

  background-color: #f5cdcc;
  width: 780px;
  padding: 48px;
}

h2 {
  font-size: 40px;
  color: #e33620;
  text-decoration: underline;
}

p {
  font-size: 20px;
}

input {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
  line-height: 240%;
}

footer {
  margin-top: 40px;
}
